engine:
  name: terragrunt
dirs:
  "dev":
    when_modified:
      file_patterns:
        - "terragrunt.hcl"
  ".":
    when_modified:
      file_patterns:
        - "terragrunt.hcl"

workflows:
- apply:
  - extra_args: []
    type: init
  - extra_args: []
    type: apply
  engine:
    name: terragrunt
  plan:
  - extra_args: []
    type: init
  - extra_args: []
    type: plan
  tag_query: ""