engine:
  name: terragrunt
  version: 0.69.3
dirs:
  "**/terragrunt.hcl":
    when_modified:
      file_patterns: ['${DIR}/terragrunt.hcl']
  '.':
    when_modified:
      file_patterns: []

workflows:
  - lock_policy: strict
    tag_query: ""
    terragrunt: true
    plan:
      - type: init
      - type: plan
    apply:
      - type: init
      - type: apply