engine:
  name: terragrunt
  tf_cmd: terraform
  tf_version: 1.13.3
  version: 0.87.5
dirs:
  "dev":
    when_modified:
      file_patterns:
        - "terragrunt.hcl"
  ".":
    when_modified:
      file_patterns:
        - "terragrunt.hcl"

workflows:
- apply:
  - extra_args: []
    type: init
  - extra_args: []
    type: apply
  engine:
    name: terragrunt
    tf_cmd: terraform
    tf_version: 1.13.3
    version: 0.87.5
  environment: aptitude-infra-core
  plan:
  - extra_args: []
    type: init
  - extra_args: []
    type: plan
  tag_query: ''