engine:
  name: terragrunt
  version: 0.69.3
dirs:
  "dev":
    when_modified:
      file_patterns:
        - "terragrunt.hcl"
  ".":
    when_modified:
      file_patterns:
        - "terragrunt.hcl"

workflows:
  - lock_policy: strict
    tag_query: ""
    terragrunt: true
    plan:
      - type: init
      - type: plan
    apply:
      - type: init
      - type: apply
