engine:
  name: terragrunt
  tf_version: '1.11.1'

when_modified:
  file_patterns: []

# Run the Terragrunt CLI for all workflows
workflows:
  - tag_query: ""
    terragrunt: true

# Trigger Terrateam operations when any
# terragrunt.hcl file is modified
# except for the root terragrunt.hcl
dirs:
  "**/terragrunt.hcl":
    when_modified:
      file_patterns: ['${DIR}/terragrunt.hcl']
  '.':
    when_modified:
      file_patterns: []